body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
}

.container-left{
    width: 20%;
    background-color: white;
    padding: 1rem;
    
}
.container-right{
    width: 100%;
    background-color: antiquewhite;
    padding: 1rem;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;
}

.menu-item{
    display: block;
    margin-bottom: 1rem;
    background-color: aqua;
    border: 1px solid;
    text-align: center;
}

.boton-home{
    background-color: transparent;
    padding: 0%;
    margin: 0%;
    border-style: hidden;
}