@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

/*HEADER SUPERIOR*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:white;
}

.busqueda input{
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(114, 199, 233);
    
}

.header-superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.logo img{
    width: 180px;
    border-radius: 15px;
}


/*MENU*/
.container_menu{
    width: 100%;
    height: 70px;
    background-color: cadetblue;
    padding: 0px 20px;
}

.menu2{
    width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;

}

nav > ul{
    height: 100%;
    display: flex;

}

nav > ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background-color:darkslateblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

nav > ul > li:first-child > a{
    background-image: url(imagenes/home.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

#selected{
    transform: scale(1.1);
    background-color:darkslateblue;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*SUBMENU*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: ' ';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute ;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #0099e9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: darkslateblue;
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

body{
    background: ghostwhite;
}

/*ARTICULOS*/
main{
    padding: 40px 20px;
    margin-top: 194px;
}

article{
    width: 1200px;
    margin:20px auto;
    padding: 40px;
    background: white;

}

article p{
    margin-top: 20px;

    font-size: 18px;
    font-weight: 300;
}
h2{
    font-weight: bold;
}

.foto-home{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imagenes{
    display: flex;
}

.imagenes img:first-child{
    margin-right: auto;

}

.foto-bio1{
    width: 250px;
    margin-left: auto;
    
}
.foto-bio2{
    width: 350px;
    margin-right: auto;
}

.link-gmail{
    font-size: 18px;
    color: black;
}



/*RESPONSIVE*/

.icon_menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    align-items: center;
    display: none;   
}

#check_menu{
    display: none;
}

#label_check{
    width: 26px;
    height: 100%;
    display: none;
}

@media screen and (max-width: 720px){
    article{
        width: 600px;
        margin:20px auto;
        padding: 40px;
        background: white;
    
    }
    .foto-home{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .busqueda input{
        display: none;
    }

    .header-superior{
        padding: 10px;
    }

    .logo img {
        width: 55px;
    }

    nav > ul{
        /*flex-direction: column;*/
        background-color: cadetblue;
        position: fixed;
        left: 0;
        /*top: 158px;*/
        width: 100%;
        height: 70px;
        transition: all 300ms ease;
        z-index: 100;
    }
    nav ul li ul{
        visibility: visible;
        opacity: 1;
        margin-top:-5px;
        margin-left: -60px;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover > ul{
        top: 50px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    #label_check{
        display: block;
    }
    .icon_menu{
        display: flex;
    }

    #check_menu:checked ~ nav > ul{ 
        height: 150px;
        visibility: visible;
        opacity: 1;
    }
}



/*formulario*/
.form-control{
    display: block;
    margin: 0.5rem 0;
}

.form-button{
    display: block;
    margin: 0.5rem 0;
    width: 80px;
    height: 40px;
}

.error{
    color: red;
    visibility: hidden
}

.show-error{
    visibility: visible;
}


